[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=/opt/agent/consul/config/consul.json

[Service]
EnvironmentFile=-/opt/agent/consul/config/consul.env
User=agent
Group=agent
ExecStart=/opt/agent/consul/bin/consul agent -config-dir=/opt/agent/consul/config/
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target