[Unit]
Description=Prometheus
Documentation=https://prometheus.io/docs/introduction/overview/
Wants=network-online.target
After=network-online.target

Wants=consul.service
After=consul.service

[Service]
EnvironmentFile=-/opt/agent/prometheus/config/prometheus.env
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/opt/agent/prometheus/bin/$PROMETHEUS_VERSION/prometheus --web.enable-admin-api --web.listen-address=:8080 --web.config.file=/opt/agent/prometheus/config/prometheus.web.yml --config.file=/opt/agent/prometheus/config/prometheus.yml
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536
LimitNPROC=infinity
Restart=on-failure
RestartSec=2

TasksMax=infinity
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
