[Unit]
Description="HashiCorp Consul Template"
Documentation=https://www.consul.io/
Wants=consul.service
After=consul.service
ConditionFileNotEmpty=/opt/agent/consul-template/config/consul-template.json

[Service]
User=agent
Group=agent
ExecStart=/opt/agent/consul-template/bin/consul-template -config=/opt/agent/consul-template/config/
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target